#project {}

#project nav {
    background-color: #2196F3;
}

#project nav a,
#project nav p {
    // color: white;
}


/* ---- Project (Page) Header ---- */

#project .project_header {
    overflow: auto;
    background-color: #2196F3;
    border-bottom: 1px solid #333;
}

#project .project_header .project_title,
#project .project_header .project_skills {
    margin: 20px 0;
}

#project .project_header .project_title {
    color: white;
    font-weight: 300;
}

#project .project_header .project_skills {
    display: flex;
    flex-direction: row;
    p {
        color: white;
        font-size: 1.2em;
        // font-weight: 600;
    }
}

#project .project_header .project_images {
    display: flex;
    width: 100%;
    @include respond-to('small') {
        flex-direction: row;
        justify-content: space-between;
    }
}

#project .project_header .project_images .project_image {
    align-self: flex-end;
    // box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

#project .project_header .project_images .project_image:nth-child(1) {
    width: 100%;
    @include respond-to('small') {
        width: 75%
    }
}

#project .project_header .project_images .project_image:nth-child(2) {
    display: none;
    @include respond-to('small') {
        display: block;
        width: 20%
    }
}


/* ---- Project Sections ---- */

#project #project_sections {
    margin-top: 70px;
}

#project #project_sections .project_section {
    margin: 40px 0 50px;
}

#project #project_sections .project_section .section_title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
