nav .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    @include respond-to('small') {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 120px;
    }
}

nav a {}

nav a:hover {
    // text-decoration: none;
}

nav div.logo,
nav .navigation_links {
    padding: 10px 0;
    @include respond-to('small') {
        padding: 0;
    }
}

nav div.logo {
    width: 50%;
    a {
        font-weight: bold;
    }
}

nav .navigation_links {
    width: 50%;
}

nav .navigation_links > a {
    margin-right: 30px;
    @include respond-to('small') {
        margin-right: 50px;
    }
}
