button {
    cursor: pointer;
    outline: none;
    padding: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

button.btn_white {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #2962ff;
    color: #2962ff;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    &:active {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}

button.btn_black {
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: black;
}
