button {
    cursor: pointer;
    outline: none;
    padding: 15px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}

button.btn_white {
    // border: 1px solid $accent-color;
    color: $accent-color;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    &:active {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}

button.btn_black {
    border: 1px solid $dark-color;
    color: $dark-color;
}