.header {
    height: calc(90vh - 100px);
    @include respond-to('small') {
        height: calc(90vh - 120px);
    }
}

.header > h4 {
    padding-top: 10vh;
    line-height: 140%;
    @include respond-to('small') {
        padding-top: 15vh;
    }
}

/* .header > h4 .blue_text {
    // color: white;
    background-color: #2962ff;
    padding: 5px;
} */
