.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(90vh - 100px);
    @include respond-to('small') {
        height: calc(50vh - 120px);
    }
}

.header > h4 {}
