#projects {}

#projects.container {
    @include respond-to('small') {
        width: 90%;
    }
    @include respond-to('medium') {
        width: 80%;
    }
    @include respond-to('large') {
        width: 70%;
    }
}

/* #projects h2 {
    padding: 10px;
    background-color: #2962ff;
    color: white;
} */

 #projects .project {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 75px 0 175px;
}

/* Border */

#projects .project .project_border {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    margin: 25px;
    border: 20px solid $accent-color;
    @include respond-to('small') {
        margin: 25px 0;
        width: 100%;
    }
}

/* Text */

#projects .project .project_border .project_info {
    @include respond-to('small') {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 30%;
    }
}

#projects .project .project_border .project_info h2 {
    margin-bottom: 20px;
}

#projects .project .project_border .project_info h6 {
    font-weight: 600;
}

#projects .project .project_border .project_info a {
    color: $accent-color;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Image */

#projects .project .project_right {
    position: absolute;
    width: 100%;
    height: 500px;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    @include respond-to('small') {
        right: 7.5%;
        width: 55%;
    }
}

#projects .project .project_right .project_image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
    @include respond-to('small') {}
}

/* Even */

#projects .project:nth-child(odd) .project_border .project_info {
    @include respond-to('small') {
        align-items: flex-end;
        margin-left: 70%;
    }
}

#projects .project:nth-child(odd) .project_border .project_info > * {
    @include respond-to('small') {
        text-align: right;
    }
}

#projects .project:nth-child(odd) .project_right {
    @include respond-to('small') {
        left: 7.5%;
    }
}