#projects {}

#projects.container {
    @include respond-to('small') {
        width: 90%;
    }
    @include respond-to('medium') {
        width: 80%;
    }
    @include respond-to('large') {
        width: 70%;
    }
}

#projects > h2 {
    text-align: center;
}

#projects .project {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 75px 0 175px;
    @include respond-to('small') {
        height: 500px;
    }
}


/* Border */

#projects .project .project_border {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 20px solid $accent-color;
    @include respond-to('small') {
        z-index: 0;
        margin: 25px 0;
        width: 100%;
        height: calc(100% - 50px);
        background-color: transparent;
    }
}


/* Text */

#projects .project .project_border .project_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include respond-to('small') {
        width: 30%;
    }
}

#projects .project .project_border .project_info h2 {
    margin-bottom: 20px;
}

#projects .project .project_border .project_info h6 {
    font-weight: 600;
}

#projects .project .project_border .project_info a {
    font-size: 1.5rem;
    font-weight: 600;
}


/* Image */

#projects .project .project_right {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.3);
    filter: grayscale(90%);
    @include respond-to('small') {
        overflow: hidden;
        right: 7.5%;
        width: 55%;
        height: calc(100%);
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.35);
        filter: grayscale(0);
    }
}

#projects .project .project_right .project_image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // background-position: left top !important;
    @include respond-to('small') {}
}


/* Even */

#projects .project:nth-child(even) .project_border .project_info {
    @include respond-to('small') {
        align-items: flex-end;
        margin-left: 70%;
    }
}

#projects .project:nth-child(even) .project_border .project_info > * {
    @include respond-to('small') {
        text-align: right;
    }
}

#projects .project:nth-child(even) .project_right {
    @include respond-to('small') {
        left: 7.5%;
    }
}
