/* Setup */

html {
    /* Change default typefaces here */
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* Copy & Lists */

p {}

a {
	text-decoration: none;
    color: black;
}

ul,
ol {}

ul li,
ol li {}

ul ul,
ol ul,
ul ol,
ol ol {}

blockquote {}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}
