$light-color: #fafafa;
$dark-color: #333333;
$accent-color: #0084ff;

$breakpoints: (
  // change small to 800px
  'small': (min-width: 700px),
  'medium': (min-width: 1000px),
  'large': (min-width: 1200px),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}